html {
  scroll-behavior: smooth;
}

.container {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;  
    position: relative;    
  }

  .container-inner {
    display: flex;
    width: 55%;    
    justify-content: space-between;

    flex-wrap: wrap;
  }  

  .container-left {
    display: flex;
    flex-direction: column;       
    text-align: left;
    gap: 0rem;         
  }

  .container-right {
    display: flex;
    flex-direction: column;
  }

  .container-right p {
    width: 20rem;    
  }

  .hero-container { 
    display: flex;
    justify-content: center; /* Added */
    align-items: flex-end; /* Added */
    position: absolute; /* Changed */
    bottom: 0; /* Changed */
    width: 100%; /* Adjust as needed */
    left: -2rem;    
  }

  .hero {
    height: 40%;
    width: 40%;    
  }  

  .dark {
    background-color: var(--background-color-dark);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  }

  #skills {
    height: auto;
  }

  #projects {
    height: auto;
  }
