.project-card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-image {
    width: 50%;
}

.project-image img {
    width: 100%;
    height: auto;
}