.project-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.project {
    display: flex;    
}

.project-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}

.project-image img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: flex;
    gap: 1rem;    
}

.skills {
    display: flex;
    flex-wrap: wrap; /* To ensure skills wrap to the next line if they don't fit */
    width: 100%;
    border-top: 1px solid #11111130;
    margin-top: 1rem;
    padding-top: 1rem;
    justify-content: center;
    gap: 2rem;
  }
  
  .skill-item {
    padding: 5px 10px;    
    margin: 2px; /* Small margin to separate the items */
  }

  @media screen and (max-width: 900px) {

    .project-card-container {
        width: 90%;
    }

    .project {
        flex-direction: column;
    }

    #project-text {
        width: 100%;
    }

    #project-text h4 {
        margin: 1rem;
    }

    #project-text p {
        width: 90%;
        margin: 1rem 0;
    }
    
    .project-image {
        width: 100%;
        margin: 1rem 0;
        flex-direction: row;
    }
    .project-image img{
        width: 70%;       
    }

    .button-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}