.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid var(--text-color-secondary);    
    width: 55%;   
    margin: 3rem 0;       
}

.divider-container {
    display: flex;  
            
}

.divider-container h3 {
    background-color: var(--background-color-dark); 
    color: var(--text-color-secondary);
    padding: 0 1rem;
    margin-top: -1rem;    
}

.info-container {
    display: flex;
    width: 100%;
    align-items: center;    
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text-container p {
    width: 80%;
}

.skills-container {
    display: flex;
    width: 50%;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;  
    width: 100%;
}

.img-container img  {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    background-color: #959cff44;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1200px) {
    .section-container {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {

    .info-container {
        flex-direction: column;
    }

    .text-container {
        width: 100%;
    }

    .text-container h4 {
        margin-left: 1rem;
    }

    .text-container p {
        width: 100%;
    }

    .skills-container {
        width: 100%;
        padding: 0;
    }

    .img-container {
        padding: 0;
    }

    .skills-container {
        width: 100%;
    }
}