.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid var(--text-color-secondary);
    margin-top: 5rem;
    width: 50%;
}

.divider-container {
    display: flex;            
}

.divider-container h3 {
    background-color: var(--background-color-dark); 
    color: var(--text-color-secondary);
    padding: 0 1rem;
    margin-top: -1rem;    
}

.info-container {
    display: flex;
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text-container p {
    width: 15rem;
}

.skills-container {
    display: flex;
    width: 50%;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;  
    width: 100%;
}

.img-container img  {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}