#contact-id h3 {
    background-color: white;
}



.contact-buttons {
    display: flex;    
    flex-direction: column;     
    padding-right: 10%;      
}


.contact-container {
    display: flex;
    gap: 2rem; 
    align-items: center;
}

.contact-container img {
    height: 3rem;
    width: auto;
}