.navbar-container {
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 0.1rem solid white;
    width: 100vw;    
    height: 5rem; 
    background-color: #111;
    color: white;
    z-index: 99999;      
}

.navbar-inner-container {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0rem;
}

#logo {
    height: 2rem;
}

h2 {
    font-size: 2rem;   
}


.navbar-links {
    display: flex;
    margin-left: -7%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

li {
    float: left;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0rem 0.7rem;
    text-decoration: none;
}

li a:hover {
    color: var(--text-color-secondary);
    cursor: pointer;    
}

.navbar-socials img:hover {    
    scale: 1.1;
}

@media screen and (max-width: 1200px) {
    .navbar-inner-container {
        width: 90%;
    }

    .navbar-links a {
        padding: 0.3rem;
    }

    #logo {
        width: 10rem;
        height: auto;
    }
}