.navbar-container {
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 0.1rem solid white;
    width: 100vw;    
    height: 5rem; 
    background-color: #111;
    color: white;
    z-index: 99999;      
}

h2 {
    font-size: 2rem;
}

.sprite {
    background-image: url('src/assets/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 33px;
    height: 33px;
}

/* White Social Media Icons */
.sprite-facebook-white { background-position: 0 0; }
.sprite-twitter-white { background-position: -33px 0; }
.sprite-dribbble-white { background-position: -66px 0; }
.sprite-linkedin-white { background-position: -99px 0; }
.sprite-email-white { background-position: -132px 0; }
.sprite-instagram-white { background-position: -165px 0; }

/* Up Arrow Icon */
.sprite-up-arrow { background-position: 0 -33px; }

/* Navigation Arrows */
.sprite-left-arrow1 { background-position: 0 -66px; }
.sprite-right-arrow1 { background-position: -33px -66px; }
.sprite-left-arrow2 { background-position: 0 -99px; }
.sprite-right-arrow2 { background-position: -33px -99px; }

/* Colored Social Media Icons */
.sprite-facebook-colored { background-position: 0 -132px; }
.sprite-twitter-colored { background-position: -33px -132px; }
.sprite-dribbble-colored { background-position: -66px -132px; }
.sprite-linkedin-colored { background-position: -99px -132px; }
.sprite-instagram-colored { background-position: -132px -132px; }


.navbar-inner-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar-links {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    color: var(--text-color-secondary);
    cursor: pointer;
    
}